#PHPStorm
.idea/

#Composer
composer.lock

#Project
/vendor/
/tmp/


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


/src/Ticketing/XPIF/XpifDtdMapping/*.dtd
/src/Ticketing/XPIF/XpifDtdMapping/*.php
/build/
/src/Labels/
/docs/

.phpunit.result.cache
/tests/Graphics/SampleFiles/
tests/Graphics/Images/alex-tyson-xiiX89sNvkc-unsplash.jpg.pdf
tests/Graphics/Images/tomas-malik-yeLp8cX1BP4-unsplash.jpg.pdf
tests/Graphics/FFmpeg/30_Seconds_Countdown.mp4
